<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>468033988067-4vd7s767h1lh7pn28ugbgpmdqqat1eri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468033988067-4vd7s767h1lh7pn28ugbgpmdqqat1eri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>468033988067-n8t04aldh4890vlhua46r4c83q1ktcmc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpYZmj2idHc9lLXZw2XW6lqKlPuP-CsmI</string>
	<key>GCM_SENDER_ID</key>
	<string>468033988067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alhisba.app</string>
	<key>PROJECT_ID</key>
	<string>alhisba-c08ff</string>
	<key>STORAGE_BUCKET</key>
	<string>alhisba-c08ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468033988067:ios:fbf1a2ace06e4690</string>
	<key>DATABASE_URL</key>
	<string>https://alhisba-c08ff.firebaseio.com</string>
</dict>
</plist>